.food__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem 3rem;
  justify-content: center;
  padding-top: 2rem;
}

.flex {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  gap: 20px;
}

.wrap {
  display: contents;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.food_img__wrapper {
  width: 15rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;
}

.food__card {
  flex: 0 1 calc(25% - 16px);
  padding: 1rem;
  width: 100%;
  height: 250px;
  background-color: hsl(219, 32%, 12%);
  border-radius: 1rem;
  justify-self: center;
  text-align: center;

  border: 1px solid rgb(58, 83, 83);
}

.food__img {
  cursor: pointer;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 20px;
}

.food__item {
  cursor: pointer;
  padding: 0.25rem 0.75rem;
  font-weight: 500;
  border-radius: 0.5rem;
  margin: 0 10px;
  border: 1px solid #2befc5;
}

.food__item.active__work {
  background-color: #2befc5;
  color: #12192c;
}

.food__title {
  font-size: 1rem;
  margin: 0.5rem 0 0;
}

.food__description {
  font-size: 0.9rem;
  color: hsl(0, 0%, 85%);
  margin-top: 0.5rem;
  line-height: 1.4;
}

/* ReciPage */

.recipe__container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 150px;
}

.recipe__btn {
  display: flex;
  cursor: pointer;
  padding: 0.25rem 0.75rem;
  font-weight: 500;
  border-radius: 0.5rem;
  background-color: black;
  border: 0.1rem solid;
  width: 4rem;
  left: -100px;
}

.recipe__image {
  border-radius: 100px;
  width: 60rem;
  height: 30rem;
  padding: 5rem;
  padding-top: 5rem;
  padding-left: 5rem;
}

.recipe__info {
  text-align: left;
}

.recipe__select {
  color: red;
}

.btn__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .food__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .food__container {
    grid-template-columns: 1fr;
  }
}
