.sidebar {
  background-color: #12192c;
  color: white;
}
.mobile__overlay {
  background-color: #12192c;
  color: white;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.mobile__nav {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.nav__link {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  transition: 0.3s;
  color: white;
}

.nav__link:hover {
  background-color: #2befc5;
  color: #12192c;
}

.nav__icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.sidebar--web {
  position: fixed;
  top: 0;
  left: 0;
  width: 13.5rem;
  height: 100vh;
  z-index: 1000;
}
@media screen and (min-width: 1400px) {
  .sidebar--mobile {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .sidebar--mobile {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .sidebar--web {
    display: none;
  }
}

@media screen and (max-width: 1099px) {
  .burger__icon {
    display: block;
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 2000;
  }
}

.mobile__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100vh;
  backdrop-filter: blur(10px);
  background-color: rgba(18, 25, 44, 0.8);
  z-index: 1500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile__nav {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}

@media screen and (min-width: 1100px) {
  .mobile__overlay {
    display: none;
  }

  .burger__icon {
    display: none;
  }

  .form__left {
    display: none;
  }
}

@media screen and (max-width: 987px) {
  .mobile__overlay {
    height: 100%;
  }
}
