.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: #12192c;
  padding: 1.25rem 0.5rem 2rem;
  transition: 0.5s;
  z-index: 100;
}

.sidebar__nav {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.sidebar__logo {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  font-weight: 500;
  transition: 0.4s;
}

.sidebar__logo-icon {
  margin-right: 1.2rem;
  width: auto;
  height: 3.5rem;
  filter: sepia(100%) saturate(100%) hue-rotate(60deg) brightness(350%);
}

.nav__link {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.nav__link:hover {
  background-color: #2befc5;
  color: #12192c;
}

.nav__link.active__work {
  background-color: #2befc5;
  color: #12192c;
}

.nav__icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.nav__text {
  font-weight: 700;
}

.show {
  width: var(--sidebar-collapsed-width, 168px);
}

@media (max-width: 768px) {
  .sidebar {
    width: 150px;
  }
  .nav__text {
    font-size: 0.875rem;
  }
}
